.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
cursor: pointer;
 transition-duration: 0.2s;


}






.text-3xl:hover{

font-size: 2rem;

}



.text-xl:hover{

  font-size: 1.26rem;
  
  }
  
  
.text-2xl:hover{

  font-size: 1.56rem;
  
  }


  .footer-icons{
min-width: 3rem;
min-height: 3rem;
/* background-color: red; */
/* background-image: url('../src/facebooklogo.jpg'); */
background-repeat: no-repeat;
background-size: contain;
background-position: center;
  }

  .footer-icons:hover{
position: relative;
min-width: 4rem;
min-height: 4rem;
background-size: cover;

  }
  



